.aside__photo {
  max-width: 250px;
  max-height: 300px;
}

.aside__icon {
  width: 25px;
  height: 25px;
  vertical-align: text-top;
}

.aside__about-description {
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px 0 20px;
  cursor: default;
}

.aside-container {
  position: sticky;
  top: 6em;
}

aside div {
  font-size: 20px;
  word-wrap: break-word;
  padding-bottom: 0.5em;
}

aside {
  width: 600px;
  border-radius: 1em;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.835);
  font-size: 15px;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

@media (min-width: 1371px) {
  aside {
    height: 670px;
  }
}

@media (max-width: 1370px) {
  .aside__about-description {
    overflow-wrap: break-word;
    margin-bottom: 1em;
  }
}

@media (max-width: 765px) {
  aside {
    margin: auto 5em;
  }
  .aside__about-description {
    font-size: 17px;
  }
  aside div {
    font-size: 15px;
  }
  .aside__icon {
    width: 20px;
    height: 20px;
  }
  .aside__photo {
    max-width: 200px;
    max-height: 250px;
  }
}

@media (max-width: 590px) {
  aside {
    position: static;
    max-width: 100vw;
    border-radius: none;
  }
  .aside__about-description {
    font-size: 14px;
  }

  aside div {
    font-size: 12px;
  }

  .aside__icon {
    width: 15px;
    height: 15px;
  }
  .aside__photo {
    max-width: 100px;
    max-height: 150px;
  }
}

@media (max-width: 350px) {
  aside {
    position: static;
    max-width: 100vw;
  }
  .aside__about-description {
    font-size: 12px;
  }

  aside div {
    font-size: 10px;
  }

  .aside__icon {
    width: 15px;
    height: 15px;
  }
  .aside__photo {
    max-width: 85px;
    max-height: 125px;
  }
}
