.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.835);
  border-radius: 1em;
  margin-bottom: 5em;
}

.about__wrapper .about__text {
  font-size: 16px;
  padding: 0.5em;
}

.about__text h1 {
  cursor: pointer;
  margin-bottom: 10px;
}

.about__text p {
  font-size: 20px;
  cursor: default;
  padding: 0 1.5em;
  margin-bottom: 0;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

@media (min-width: 1371px) {
  .about__container {
    min-height: 670px;
  }
}

@media (max-width: 1370px) {
  .about__container {
    background-color: rgba(255, 255, 255, 0.835);
    font-size: 15px;
    text-align: center;
    margin-bottom: 4.5em;
  }
}

@media (max-width: 765px) {
  .about__text h1 {
    font-size: 20px;
  }
  .about__text p {
    font-size: 16px;
  }
}

@media (max-width: 605px) {
  .about__text h1 {
    font-size: 16px;
  }

  .about__text p {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .about__text h1 {
    font-size: 14px;
  }

  .about__text p {
    font-size: 10px;
  }
}

@media (max-width: 210px) {
  .arrow-icon {
    max-height: 10px;
    max-width: 10px;
    margin-left: 2px;
  }
}
