.todo__item {
  display: flex;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em auto;
  background-color: white;
  max-width: 90%;
  flex-direction: column;
}

.todo__item-actions {
  justify-content: flex-end;
  display: flex;
  margin-top: 0.5em;
  gap: 0.5em;
}

.todo__item-remove {
  width: 25px;
  height: 25px;
  background-image: url('../../../../Images/ToDoListIcons/Bin.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.todo__item-complete {
  width: 25px;
  height: 25px;
  background-image: url('../../../../Images/ToDoListIcons/Complete.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.todo__item-edit {
  width: 25px;
  height: 25px;
  background-image: url('../../../../Images/ToDoListIcons/Edit.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.todo__item.completed-overlay {
  background-color: green;
}

.todo__item-content {
  max-width: 100%;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.todo__item-date {
  margin-bottom: -2em;
}

.todo__item-info h4 {
  margin-top: 0;
}

.todo__task-input,
.todo__content-input {
  margin-bottom: 1em;
}

.todo__content-wrapper,
.todo__task-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 840px) {
  .todo__item-actions {
    margin-top: 2.5em;
    gap: 0.5em;
  }
}
