.todo__item {
  display: flex;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em auto;
  background-color: white;
  max-width: 90%;
  flex-direction: column;
}

.todo__item-actions {
  justify-content: flex-end;
  display: flex;
  margin-top: 0.5em;
  gap: 0.5em;
}

.todo__item-actions button:hover {
  color: #ff4d69;
  filter: invert(9%) sepia(99%) saturate(5630%) hue-rotate(340deg)
    brightness(121%) contrast(148%);
}

.todo__item-remove {
  width: 25px;
  height: 25px;
  background-image: url('../../../../Images/ToDoListIcons/Bin.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.todo__item-complete {
  width: 25px;
  height: 25px;
  background-image: url('../../../../Images/ToDoListIcons/Complete.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.todo__item-edit {
  width: 25px;
  height: 25px;
  background-image: url('../../../../Images/ToDoListIcons/Edit.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.todo__item.completed-overlay {
  background-color: rgb(85, 230, 85);
}

.todo__item-content {
  max-width: 100%;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.todo__item-date {
  margin-bottom: -2em;
}

.todo__item-info h4 {
  margin-top: 0;
}

.todo__task-input,
.todo__content-input {
  margin-bottom: 1em;
  max-width: 100%;
}

.todo__content-wrapper,
.todo__task-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.todo__content-wrapper button {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  background: #23213d;
  color: white;
}

@media (max-width: 840px) {
  .todo__item-actions {
    margin-top: 2.5em;
    gap: 0.5em;
  }
}

@media (max-width: 240px) {
  .todo__item-actions {
    flex-direction: column;
    height: 80%;

    max-width: 80%;
  }
}
