.mole-game__board-wrapper {
  user-select: none;
}
.mole-game__result {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.mole-game__options-ui {
  margin-top: 2.5em;
}

.mole-game__options-ui div {
  display: flex;
  justify-content: center;
  user-select: none;
}

.mole-game__options-ui button {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 0.5em;
  border-radius: 0.5rem;
  border-color: #23213d;
  background: #23213d;
  font-size: 22px;
  font-weight: bold;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 10em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.mole-game__options-ui button:hover,
.mole-game__options-ui button.activeButton,
.mole-game__options-ui button:active {
  background: #fe3756;
  border-color: #fe3756;
}

.mole-game__control-section {
  gap: 1.65em;
}

.mole-game__board-ui {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
  background-image: url('../../../Images/mole-game/grass.png');
  gap: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 1em;
  padding: 1em;
}

.mole-game__board-ui-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../Images/mole-game/molehole.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 160px;
}

.mole-game__timer,
.mole-game__score,
.mole-game__restart-button {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 0.5em;
  border-radius: 0.5rem;
  border-color: #ebebeb;
  background: #ebebeb;
  font-size: 22px;
  font-weight: bold;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 7em;
  display: flex;
  justify-content: center;
}

.mole-game__restart-button {
  border-color: #23213d;
  background: #23213d;
  color: white;
  cursor: pointer;
}

.mole-game__settings-wrapper h4,
.mole-game__board-wrapper h4,
.mole-game__options h4 {
  font-size: 18px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
}
.mole-game__settings-wrapper h4 {
  max-width: 200px;
}

.mole-game__settings-wrapper {
  user-select: none;
}

.mole-game__board-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.mole-game__options-ui {
  grid-area: 1 / 1 / 5 / 5;
} */

@media (max-width: 830px) {
  .mole-game__options-ui button {
    font-size: 16px;
  }
  .mole-game__result {
    font-size: 22px;
  }
  .mole-game__board-ui {
    max-width: 95%;
  }

  .mole-game__board-info {
    width: 300px;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .mole-game__board-ui {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 2em;
  }
}

@media (max-width: 640px) {
  .mole-game__options-ui button {
    font-size: 12px;
    width: 12em;
  }
}

@media (max-width: 575px) {
  .mole-game__options-ui button {
    font-size: 8px;
  }
}

@media (max-width: 530px) {
  .mole-game__board-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 30%;
  }
}

@media (max-width: 430px) {
  .mole-game__options {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 5em;
    margin: 0 auto;
  }

  .mole-game__options-ui button {
    width: 50%;
  }
  .mole-game__control-section {
    margin-left: -3em;
  }
}

@media (max-width: 335px) {
  .mole-game__board-ui {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 320px) {
  .mole-game__time-section,
  .mole-game__count-section,
  .mole-game__control-section {
    flex-direction: column;
  }
  .mole-game__result {
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    word-wrap: break-word;
  }
  .mole-game__timer,
  .mole-game__score,
  .mole-game__restart-button {
    max-width: 70%;
    margin: 0 auto;
  }

  .mole-game__control-section {
    margin-left: 0;
  }
}
