.mole-game__result {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.mole-game__options-ui div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mole-game__options-ui button {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 15rem;
}

.mole-game__options-ui button:hover,
.mole-game__options-ui button.activeButton,
.mole-game__options-ui button:active {
  background: #fe3756;
  border-color: #fe3756;
}

.mole-game__board-ui {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
  height: 400px;
  background-image: url('../../../Images/mole-game/grass.png');
  gap: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 1em;
  padding: 1em;
}

.mole-game__board-ui-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./molehole.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.mole-game__board-ui img {
  width: 105%;
  margin-top: -1em;
}

.mole-game__timer,
.mole-game__score,
.mole-game__restart-button {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #ebebeb;
  border: 1px;
  gap: 1rem;
  background: #ebebeb;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 15rem;
  display: flex;
  justify-content: center;
}

.mole-game__restart-button {
  border-color: #23213d;
  background: #23213d;
  color: white;
}

.mole-game__settings-wrapper h4,
.mole-game__board-wrapper h4,
.mole-game__options h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
}
.mole-game__settings-wrapper h4 {
  width: 200px;
}

.mole-game__settings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.mole-game__board-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.mole-game__options-ui {
  grid-area: 1 / 1 / 5 / 5;
} */
