.about__wrapper {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.about__aside-container {
  width: 600px;
  max-width: 95%;
}

.about__about-container {
  width: 600px;
  max-width: 95%;
}

@media (max-width: 1370px) {
  .about__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 765px) {
  .about__wrapper {
    gap: 2em;
  }
}

@media (max-width: 155px) {
  body {
    overflow-x: hidden;
  }
}
