div .text-first-paragraph {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 905px;
  font-size: 22px;
  line-height: 36px;
  margin: auto;
}

.text-first-paragraph span {
  display: flex;
  width: 833px;
  flex-direction: column;
  text-indent: 1.5em;
}

.text-gap-44 {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}

.text-gap-30 {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.text-gap-47 {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
}

.text-gap-60 {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.first-floating-box {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.first-floating-box span {
  box-sizing: border-box;
  display: flex;
  padding: 12.375px 19.938px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.875px;
  display: flex;
  width: 203px;
  flex-direction: column;
  color: var(--text-text-primary, #222);
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5.5px;
  border: 1px solid var(--gray-500, #999);
  background: var(--primary-primary-light, #ffd5db);
  z-index: 15;
}

.first-text-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.first-text-wrapper div {
  display: flex;
  flex-direction: column;
  color: var(--text-text-primary, #222);
  text-align: justify;
  font-size: 22px;
  line-height: 36px;
  background: var(--gray-200, #ebebeb);
  padding: 17px 21px;
  width: 80%;
  margin-top: -5em;
  z-index: 10;
}

.second-text-wrapper {
  box-sizing: border-box;
  width: 984px;
  height: 377px;
  margin: auto;
}

#snow-wolf {
  display: flex;
  width: 402px;
  height: 350px;
  padding: 0px 24px;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: -17em;
  margin-left: 2em;
}

.first-text-box {
  margin: auto;
  display: inline-flex;
  padding: 32px 29px 0px 456px;
  justify-content: flex-end;
  align-items: center;
  background: var(--primary-primary-light, #ffd5db);
  color: var(--text-text-primary, #222);
  text-align: justify;
  font-size: 22px;
  line-height: 36px;
}

.first-text-box p {
  display: flex;
  width: 488.5px;
  flex-direction: column;
  flex-shrink: 0;
}

.second-floating-box {
  position: relative;
  float: right;
  display: inline-flex;
  padding: 12.375px 19.938px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5.5px;
  border: 1px solid var(--gray-500, #999);
  background: var(--primary-primary-light, #ffd5db);
  z-index: 30;
  margin-bottom: -5em;
}

.text-centered-paragraph {
  margin: auto;
  position: relative;
  box-sizing: border-box;
  padding: 17px 21px;
  align-items: flex-start;
  gap: 10px;
  background: var(--gray-900, #4b5563);
  display: flex;
  width: 922px;
  flex-direction: column;
  color: var(--text-alt-primary, #fff);
  text-align: justify;
  font-size: 22px;
  line-height: 36px;
  z-index: 20;
}

.third-floating-box {
  box-sizing: border-box;
  display: flex;
  padding: 10px 127px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 19.644px;
  border: 1px solid var(--primary-primary, #fe3756);
  background: var(--primary-primary-light, #ffd5db);
  color: #000;
  text-align: center;
  font-size: 20px;
  line-height: 73.664px;
  width: fit-content;
  margin: auto;
}

.second-text-box p {
  margin: auto;
  color: var(--text-text-primary, #222);
  text-align: justify;
  font-size: 22px;
  line-height: 36px;
  display: flex;
  width: 985px;
  flex-direction: column;
}

.float-square-boxes {
  margin: auto;
  width: 985px;
  height: 246px;
  border-radius: 8px;
  border: 2px solid var(--gray-700, #6b7280);
  position: relative;
}

.float-box-first {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--gray-300, #c8cbd1);
  background: var(--gray-700, #6b7280);
  position: absolute;
  left: 5em;
  top: 2.5em;
  z-index: 3;
}

.float-box-second {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--gray-200, #ebebeb);
  background: var(--gray-500, #999);
  position: absolute;
  left: 3.5em;
  bottom: 3.5em;
  z-index: 2;
}

.float-box-third {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--gray-200, #ebebeb);
  background: var(--gray-300, #c8cbd1);
  position: absolute;
  left: 2em;
  bottom: 2em;
  z-index: 1;
}
