.input-radio__field {
  display: block;
}

.input-field-error {
  border: 1px solid #fe3756;
}

.input-field-error-message {
  color: #fe3756;
  font-weight: bold;
}

.input-field__submit-button {
  margin: 0 auto;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  color: black;
  height: 50px;
  width: 120px;
  font-weight: bold;
  cursor: pointer;
}
.input-field__submit-button:hover {
  color: #ff4d69;
  border: 1px solid #ff4d69;
}
.input-field__submit-button:disabled,
.input-field__submit-button:disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
  color: grey;
  border: none;
}

.form-wrapper {
  user-select: none;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.622);
  max-width: 500px;
  margin-bottom: 2em;
  border-radius: 2em;
}
.form {
  word-wrap: break-word;
  margin: auto;
  max-width: 95%;
}

.form__success-message {
  text-align: center;
  margin-bottom: 2em;
  color: green;
  font-weight: bold;
  font-size: 24px;
}

.form__product-select {
  max-width: 200px;
}

.input__additional-comments {
  resize: none;
  max-width: 50%;
  border: 1px solid #ccc;
  border-radius: 0.3em;
}

@media (max-width: 430px) {
  .input__character-count {
    font-size: 12px;
  }
  .input-field-error-message,
  .input-field-error {
    font-size: 12px;
  }

  .form-wrapper {
    border-radius: 0;
  }
}
