.input-radio__field {
  display: block;
}

.input-field-error {
  border: 1px solid #fe3756;
}

.input-field-error-message {
  color: #fe3756;
  font-weight: bold;
}
.form-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.form {
  word-wrap: break-word;
  max-width: 60%;
}
