.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 202px;
  height: 192px;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 5px rgba(209, 209, 209, 1);
}
.dashboard-card a {
  text-decoration: none;
  color: #ff4d69;
  font-weight: 700;
  font-size: 14px;
}
.dashboard-card:hover {
  color: #ff4d69;
  box-shadow: 0px 0px 47px -2px rgba(254, 55, 86, 0.38);
  border: 2px solid #ff4d69;
}
.dashboard-card:hover .icon-wrapper {
  filter: invert(9%) sepia(99%) saturate(5630%) hue-rotate(340deg)
    brightness(121%) contrast(148%);
}

.dashboard-card p {
  font-size: 12px;
  width: 146px;
  margin: 7px 0;
}
.dashboard-card h3 {
  font-size: 18px;
  margin: 10px 0;
}
