.todo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: default;
  user-select: none;
}

.todo__container {
  max-width: 60%;
}
