.menu__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.menu li {
  display: inline;
  margin: 0 10px;
}

.menu li:hover,
.menu__container button:hover {
  color: #ff4d69;
  filter: invert(9%) sepia(99%) saturate(5630%) hue-rotate(340deg)
    brightness(121%) contrast(148%);
}

.menu__container button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}
.menu__arrow-icon {
  vertical-align: top;
}

@media (max-width: 690px) {
  nav {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu__container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu__wrapper {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu__container button {
    display: none;
  }
}

@media (max-width: 285px) {
  nav {
    display: flex;
  }
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .menu li {
    display: block;
    margin: 10px 0;
  }
}
