.exercise-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 5rem header, 5rem footer 1.5rem padding (both sides) */
  grid-template-rows: calc(100vh - 5rem - 5rem - 1.5rem - 1.5rem);
}

.exercises-categories a.active {
  filter: invert(9%) sepia(99%) saturate(5630%) hue-rotate(340deg)
    brightness(121%) contrast(148%);
}

.exercises-categories a:hover {
  filter: invert(9%) sepia(99%) saturate(5630%) hue-rotate(340deg)
    brightness(121%) contrast(148%);
}
