.todo__sorting-buttons,
.todo__sorting-buttons select {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.todo__sorting-buttons button {
  padding: 0.7em;
  border-radius: 0.5em;
  border-color: #23213d;
  background: #23213d;
  color: white;
}
