.dashboard .cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.dashboard .cards-main {
  margin: 2%;
}

.dashboard img {
  width: 55px;
  height: 55px;
}

.dashboard-head h3 {
  color: black;
  font-size: 24px;
  font-weight: 200;
}

.dashboard-head h3 {
  font-size: 70px;
  letter-spacing: -2px;
  transition: 700ms ease;
  margin-bottom: 0.8rem;
  color: rgb(2, 2, 1);
  outline: none;
  text-align: center;
}

.dashboard-head p {
  font-size: 30px;
  letter-spacing: -2px;
  transition: 700ms ease;
  margin-bottom: 0.8rem;
  color: rgb(2, 2, 1);
  outline: none;
  text-align: center;
}

.dashboard-head h3:hover,
.dashboard-head p:hover {
  letter-spacing: 1px;
  cursor: default;
}
