@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --color-primary-blue: #3e63f6;
  --color-dark-blue: #004286;
  --color-dark-gray: #3d3d3d;
  --color-blue-gray: #525e70;
  --color-black: #000000;
  --color-grey: rgb(60, 64, 67);
  --color-white: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
