.checkboxes__item {
  display: flex;
  margin: 8px auto;
  cursor: default;
}

.checkboxes__item__check-mark {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: white;
  margin-right: 8px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.checkboxes__item__check-mark--checked {
  background-color: #fe3756;
  border: 1px solid #fe5407;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@media (max-width: 430px) {
  .checkboxes__item {
    font-size: 10px;
  }
}

@media (max-width: 220px) {
  .checkboxes__item__check-mark {
    width: 25px;
  }
}
